.pt-shema {
    position: relative;
}

.pt-shema img.shema-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.pt-shema.started img.shema-background {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.pt-shema img.shema-main {
    position: relative;
}

.pt-shema img.shema-background.fade-in {
    opacity: 1;
}

.shema-arc-motion {
    position: absolute;
    top: -3.7%; /*according to images sies*/
    bottom: 0;
    left: -1.65%; /*according to images sies*/
    margin-top: auto;
    margin-bottom: auto;
    height: 25%; /*according to images sies*/
    width: 50%;
    box-sizing: border-box;

    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.shema-arc-motion > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%; /*according to images sies*/
}

.shema-arc-motion img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    height: 20%;
    opacity: 0;
}

.shema-arc-motion.show, .shema-arc-motion.show > div {
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.shema-arc-motion.show img {
    height: 100%;
    -webkit-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -moz-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -o-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    opacity: 1;
}

.shema-arc-motion.hide img {
    height: 20%;
    opacity: 0;
    -webkit-transition-delay: 0s, 0.7s;
    -moz-transition-delay: 0s, 0.7s;
    -o-transition-delay: 0s, 0.7s;
    transition-delay: 0s, 0.7s;
    -webkit-transition-timing-function: ease-out, linear;
    -moz-transition-timing-function: ease-out, linear;
    -o-transition-timing-function: ease-out, linear;
    transition-timing-function: ease-out, linear;
}

.shema-arc-motion.hide, .shema-arc-motion.hide > div {
    -webkit-transition: transform 1s ease-in;
    -moz-transition: transform 1s ease-in;
    -o-transition: transform 1s ease-in;
    transition: transform 1s ease-in;
}

.shema-arc-motion.obj1 {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.shema-arc-motion.obj1 > div {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.shema-arc-motion.obj1.show {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.shema-arc-motion.obj1.show > div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.shema-arc-motion.obj1.hide {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
}

.shema-arc-motion.obj1.hide > div {
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
    transform: rotate(-150deg);
}

.shema-arc-motion.obj2 {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
}

.shema-arc-motion.obj2 > div {
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
    transform: rotate(-150deg);
}

.shema-arc-motion.obj2.show {
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg);
}

.shema-arc-motion.obj2.show > div {
    -webkit-transform: rotate(-210deg);
    -moz-transform: rotate(-210deg);
    -o-transform: rotate(-210deg);
    transform: rotate(-210deg);
}

.shema-arc-motion.obj2.hide {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.shema-arc-motion.obj2.hide > div {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.shema-arc-motion.obj2.reverce {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.shema-arc-motion.obj2.reverce > div {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.shema-arc-motion.obj2.reverce.show {
    -webkit-transform: rotate(210deg);
    -moz-transform: rotate(210deg);
    -o-transform: rotate(210deg);
    transform: rotate(210deg);
}

.shema-arc-motion.obj2.reverce.show > div {
    -webkit-transform: rotate(-210deg);
    -moz-transform: rotate(-210deg);
    -o-transform: rotate(-210deg);
    transform: rotate(-210deg);
}

.shema-arc-motion.obj2.reverce.hide {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
}

.shema-arc-motion.obj2.reverce.hide > div {
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
    transform: rotate(-150deg);
}

.shema-arc-motion.obj3 {
    margin: 10% 10%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.shema-arc-motion.obj3 > div {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.shema-arc-motion.obj3.show {
    top: -25%;
    left: -12%;
    -webkit-transform: rotate(320deg);
    -moz-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    transform: rotate(320deg);
}

.shema-arc-motion.obj3.show > div {
    -webkit-transform: rotate(-330deg);
    -moz-transform: rotate(-330deg);
    -o-transform: rotate(-330deg);
    transform: rotate(-330deg);
}

.shema-arc-motion.obj3.hide {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.shema-arc-motion.obj3.hide > div {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

.shema-arc-motion.obj3.reverce {
    -webkit-transform: rotate(390deg);
    -moz-transform: rotate(390deg);
    -o-transform: rotate(390deg);
    transform: rotate(390deg);
}

.shema-arc-motion.obj3.reverce > div {
    -webkit-transform: rotate(-390deg);
    -moz-transform: rotate(-290deg);
    -o-transform: rotate(-290deg);
    transform: rotate(-290deg);
}

.shema-arc-motion.obj3.reverce.show {
    -webkit-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    transform: rotate(330deg);
}

.shema-arc-motion.obj3.reverce.show > div {
    -webkit-transform: rotate(-330deg);
    -moz-transform: rotate(-330deg);
    -o-transform: rotate(-330deg);
    transform: rotate(-330deg);
}

.shema-arc-motion.obj3.reverce.hide {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.shema-arc-motion.obj3.reverce.hide > div {
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
    transform: rotate(-270deg);
}

.shema-arc-motion.obj4 {
    position: absolute;
    margin: 5% 15%;
    height: 25%;
    width: 25%;
    -webkit-transition: 1.9s;
    -moz-transition: 1.9s;
    -o-transition: 1.9s;
    transition: 1.9s;
}

.shema-arc-motion.obj4 > img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    opacity: 0;
}

.shema-arc-motion.obj4.show {
    top: -10%;
    left: 10%;
}

.shema-arc-motion.obj4.show > img {
    height: 100%;
    -webkit-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -moz-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -o-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    opacity: 1;
}

.shema-arc-motion.obj4.hide {
    top: 10%;
    left: 40%;
    /*z-index: 10;*/
}

.shema-arc-motion.obj4.hide > img {
    height: 20%;
    opacity: 0;
    -webkit-transition-delay: 0s, 0.7s;
    -moz-transition-delay: 0s, 0.7s;
    -o-transition-delay: 0s, 0.7s;
    transition-delay: 0s, 0.7s;
    -webkit-transition-timing-function: ease-out, linear;
    -moz-transition-timing-function: ease-out, linear;
    -o-transition-timing-function: ease-out, linear;
    transition-timing-function: ease-out, linear;
}

.shema-arc-motion.obj5 {
    position: absolute;
    margin: 15% 60%;
    height: 25%;
    width: 25%;
    -webkit-transition: 1.9s;
    -moz-transition: 1.9s;
    -o-transition: 1.9s;
    transition: 1.9s;
}

.shema-arc-motion.obj5 > img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    opacity: 0;
}

.shema-arc-motion.obj5.show > img {
    height: 100%;
    -webkit-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -moz-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -o-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    opacity: 1;
}

.shema-arc-motion.obj5.hide {
    top: 50%;
    left: 20%;
    /*z-index: 10;*/
}

.shema-arc-motion.obj5.hide > img {
    height: 20%;
    opacity: 0;
    -webkit-transition-delay: 0s, 0.7s;
    -moz-transition-delay: 0s, 0.7s;
    -o-transition-delay: 0s, 0.7s;
    transition-delay: 0s, 0.7s;
    -webkit-transition-timing-function: ease-out, linear;
    -moz-transition-timing-function: ease-out, linear;
    -o-transition-timing-function: ease-out, linear;
    transition-timing-function: ease-out, linear;
}

.shema-arc-motion.obj6 {
    position: absolute;
    margin: 16% 49%;
    height: 25%;
    width: 25%;
    -webkit-transition: 1.9s;
    -moz-transition: 1.9s;
    -o-transition: 1.9s;
    transition: 1.9s;
}

.shema-arc-motion.obj6 > img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    opacity: 0;
}

.shema-arc-motion.obj6.show > img {
    height: 100%;
    -webkit-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -moz-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -o-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    opacity: 1;
}

.shema-arc-motion.obj6.hide {
    top: 40%;
    left: 0;
    /*z-index: 10;*/
}

.shema-arc-motion.obj6.hide > img {
    height: 20%;
    opacity: 0;
    -webkit-transition-delay: 0s, 0.7s;
    -moz-transition-delay: 0s, 0.7s;
    -o-transition-delay: 0s, 0.7s;
    transition-delay: 0s, 0.7s;
    -webkit-transition-timing-function: ease-out, linear;
    -moz-transition-timing-function: ease-out, linear;
    -o-transition-timing-function: ease-out, linear;
    transition-timing-function: ease-out, linear;
}

.shema-arc-motion.obj7 {
    position: absolute;
    margin: 15% 44%;
    height: 25%;
    width: 25%;
    -webkit-transition: 1.9s;
    -moz-transition: 1.9s;
    -o-transition: 1.9s;
    transition: 1.9s;
}

.shema-arc-motion.obj7 > img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    opacity: 0;
}

.shema-arc-motion.obj7.show > img {
    height: 100%;
    -webkit-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -moz-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -o-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    opacity: 1;
}

.shema-arc-motion.obj7.hide {
    top: 40%;
    left: -15%;
    /*z-index: 10;*/
}

.shema-arc-motion.obj7.hide > img {
    height: 20%;
    opacity: 0;
    -webkit-transition-delay: 0s, 0.7s;
    -moz-transition-delay: 0s, 0.7s;
    -o-transition-delay: 0s, 0.7s;
    transition-delay: 0s, 0.7s;
    -webkit-transition-timing-function: ease-out, linear;
    -moz-transition-timing-function: ease-out, linear;
    -o-transition-timing-function: ease-out, linear;
    transition-timing-function: ease-out, linear;
}

.shema-center-motion {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 25%;
    width: 25%;
    /*background-color: rgba(0, 64, 153, 0.49);*/
    -webkit-transition: 1.9s;
    -moz-transition: 1.9s;
    -o-transition: 1.9s;
    transition: 1.9s;

}

.shema-center-motion img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    opacity: 0;
}

.shema-center-motion.show img {
    height: 100%;
    -webkit-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -moz-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    -o-transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    transition: height 0.5s ease-out .6s, opacity 0.3s linear;
    opacity: 1;
}

.shema-center-motion.hide {
    top: -40%;
    left: -60%;
    /*z-index: 10;*/
}

.shema-center-motion.hide img {
    height: 20%;
    opacity: 0;
    -webkit-transition-delay: 0s, 0.7s;
    -moz-transition-delay: 0s, 0.7s;
    -o-transition-delay: 0s, 0.7s;
    transition-delay: 0s, 0.7s;
    -webkit-transition-timing-function: ease-out, linear;
    -moz-transition-timing-function: ease-out, linear;
    -o-transition-timing-function: ease-out, linear;
    transition-timing-function: ease-out, linear;
}

.point1-name, .point2-name {
    color: #c9751a;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    opacity: 0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.point1-name.fade-in, .point2-name.fade-in {
    opacity: 1;
}

.point1-name {
    left: 10px;
}

.point2-name {
    right: 121px;
}