a {
    text-decoration: none;
    outline: none;
    color: #ff8200;
}

a:hover, a:focus, a:active {
    color: #c9751a;
}

a:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
    outline: none;
}

body {
    padding-top: 79px;
    background: #fff;
    color: #333;
}

footer {
    color: #fff;
    padding: 40px 0 0 0;
}

footer h3 {
    margin-bottom: 20px;
    color: #fff;
    font-size: 23px;
    text-align: center;
}

.footer-social {
    padding-top: 20px;
}

.footer-social a {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 6px;
    margin-bottom: 10px;
    padding-top: 7px;
    background: #666;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 32px;
    color: #ddd;
    line-height: 40px;
    text-align: center;
}

.footer-social a:hover, .footer-social a:focus {
    background: #777;
    color: #eee;
}

.footer-social a i {
    vertical-align: middle;
}

.footer-copyright {
    margin-top: 18px;
    padding-top: 18px;
    border-top: 1px dotted #777;
}

.footer-copyright a {
    color: #ddd;
}

.footer-copyright a:hover, .footer-copyright a:focus {
    color: #eee;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    /*	font-family: 'Raleway', sans-serif;*/
    font-weight: bold;
}

h1 {
    font-size: 30px;
    color: #fff;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

iframe {
    border: 0;
}

img {
    max-width: 100%;
}

p {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
}

.p {
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

/***** Loader *****/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden !important;
    z-index: 99999;
}

.loader-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    width: 60px;
    height: 60px;
    background: url(../img/loading.gif) center center no-repeat;
}

.btn-default {
    background: #fff;
    border: solid 3px #dedede;
    color: #f47a20;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-default:hover {
    background: transparent;
    border: solid 3px #f47a20;
    color: #f47a20;
}

.advantages-container {
    padding-top: 30px;
}

/***** More services *****/

.more-services {
    padding-top: 30px;
}

.more-services-box {
    margin-top: 30px;
    text-align: left;
}

.more-services-box .more-services-box-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;

    background: #ff8a38; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb24b 0%, #ff8a38 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb24b), color-stop(100%, #ff8a38)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb24b 0%, #ff8a38 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb24b 0%, #ff8a38 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb24b 0%, #ff8a38 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb24b 0%, #ff8a38 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb24b', endColorstr='#ff8a38', GradientType=0); /* IE6-9 */

    font-size: 32px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.more-services-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}

.cta {
    background: #013371;
    color: #fff;
    text-align: center;
}

.cta h2 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    word-spacing: -4px;
}

.cta a.btn-default {
    background: #fff;
    border: none;
    color: #f47a20
}

.cta a.btn-default:hover {
    background: #fff;
    color: #f47a20;
    border: solid 3px #f47a20;
}

.features {
    background: #fff;
}

.features .item {
    text-align: center;
    margin-bottom: 60px;
}

.features .item h2 {
    font-size: 20px;
    margin-top: 25px;
    text-transform: uppercase;
}

.features .item i {
    border-radius: 50px;
    border: solid 2px #e9eef1;
    color: #027bef;
    display: inline-block;
    font-size: 36px;
    margin-bottom: 10px;
    padding: 20px;
    width: 96px;
    height: 96px;
}

.features .item:hover a i {
    background: #027bef;
    color: #fff;
    border: solid 2px #027bef;
}

.form-control {
    border: none;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
}

.form-control2 {
    /*	display:block; */
    width: 45%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control2 {
    border: none;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
}

.generic {
    padding: 10px 0 20px 0;
    background-size: cover;
    background: url(../img/img-footer2.jpg) center center;
    position: relative;
}

.modal .modal-body figure {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 10px 0 0 0;
    padding: 5px;
}

/***** Top menu *****/

.nav.navbar-nav.navbar-right.login-menu > li > a, .login-menu > li > a {
    text-transform: uppercase;
    color: #000;

    position: relative;
    display: block;
    padding: 10px 15px 10px 25px;
}

.nav.navbar-nav.navbar-right.login-menu > li:last-child > a, .login-menu > li:last-child > a {
    padding-right: 0px;
}

.nav.navbar-nav.navbar-right.login-menu > li > a i, .login-menu > li > a i {
    color: #ADADAD;
    float: left;
    margin-left: -24px;
    margin-top: -3px;
    font-size: 24px;
}

.nav.navbar-nav.navbar-right.login-menu > li > a:hover i, .login-menu > li > a:hover i {
    color: #ff8200;
}

.nav.navbar-nav.main-menu > li > a {
    text-transform: uppercase;
    color: #000;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 2;
}

.nav.navbar-nav.main-menu > li > a.have-icon {
    padding-right: 33px;
}

.nav.navbar-nav.main-menu > li > a i {
    color: #ff8200;
    position: absolute;
    top: 11px;
    right: 15px;
}

.nav.navbar-nav.main-menu > li > a:hover {
    color: #ff8800;
}

.nav.navbar-nav.main-menu > li > a.active {
    color: #ff8800;
    text-decoration: underline;
}

.main-menu {
    margin: 15px 0;
    font-family: 'Etelka-Text';
    font-size: 14px;
}

/* Menu */

.nav > li {
    position: static;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ADADAD;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none;
}

.contacts-top {
    float: right;
    text-align: right;
}

.navbar-default .navbar-toggle {
    border: none;
    border-radius: 0;
    margin: 0 10px 0 0;
    padding: 7px 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-toggle .icon-bar {
    width: 32px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #f78d1e;
}

.container > .navbar-header {
    margin: 17px 0;
}

.logo-mobile {
    left: 23px;
    position: absolute;
    display: none;
}

.phone-mobile {
    position: absolute;
    width: 60px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    display: none;
}

.phone-mobile:hover, .phone-mobile:focus, .phone-mobile:active {
    text-decoration: none;
    outline: none;
}

.logo img {
    margin: 10px 0;
    float: left;
}

.navbar-default .social-menu > li > a {
    font-size: 24px;
}

.navbar-default .social-menu > li > a:hover {
    color: #ff8200;
    text-decoration: none;
}

.panel-default > .panel-heading {
    background: #fff;
    border-color: #e9eef2;
    color: #027bef;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.panel-default > .panel-heading:hover {
    background: #027bef;
    color: #fff;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    color: #8495a5;
}

.slider {
    background: url(../img/poddon.jpg);
    padding: 0 0 55px 0;
    background-size: 100%;
}

.slider h1, .slider h2, .slider h3, .slider h4, .slider p {
    color: #fff;
    text-align: center;
}

.slider h1 {
    margin-top: 55px;
    margin-bottom: 40px;
}

.slider h2 {
    font-size: 52px;
    font-weight: 800;
}

.slider h3 {
    font-size: 26px;
    font-weight: 300;
}

.slider h4 {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}

.slider hr {
    border-top: 1px dotted #363636;
}

.slider p {
    font-size: 18px;
}

.slider .p-last {
    margin-bottom: 45px;
}

.table {
    background: #fff;
}

.table .table-list {
    border: solid 1px #dedede;
    list-style: none;
    padding: 0;
    text-align: center;
}

.table .table-list:hover {
    background: #0058ad;
}

.table .table-list:hover .table-price {
    background: #fff;
    color: #027BEF;
}

.table .table-list:hover li {
    color: #fff;
    border-bottom: solid 1px #216cb4;
}

.table .table-list:hover .btn-default {
    border: solid 3px #669bce;
    background: #0058ad;
    color: #fff;
}

.table .table-list li {
    border-bottom: solid 1px #dedede;
    color: #8495A5;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}

.table .table-list .table-button {
    padding: 20px;
}

.table .table-list .table-header {
    background: #027BEF;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 25px;
    text-transform: uppercase;
}

.table .table-list .table-price {
    background: #f5f5f5;
    padding-bottom: 25px;
    color: #46627E;
    font-size: 36px;
    font-weight: 300;
}

.testimonials {
    background: url("../img/map.png") no-repeat center center;
    background-size: auto;
}

.testimonials .date {
    background: #fff;
    border: 1px solid #949bb0;
    border-radius: 100px;
    height: 144px;
    margin: 0 auto 10px auto;
    position: relative;
    text-align: center;
    width: 144px;
}

.testimonials .date h5 {
    color: #46627e;
    font-size: 24px;
    font-weight: 300;
    margin: 43px 0 0 0;
}

.testimonials .date:hover {
    background: #027bef;
    border: 1px solid #027bef;
}

.testimonials .date:hover h5 {
    color: #fff;
}

.testimonials .item-testimonial {
    background: #fff;
    border: 1px solid #e9eef2;
    margin-bottom: 25px;
    padding: 10px 20px;
    position: relative;
}

.testimonials .item-testimonial h3 {
    color: #027bef;
    font-size: 18px;
    font-weight: 300;
}

.testimonials .item-testimonial h4 {
    color: #46627e;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonials .container_item {
    margin-left: 0px;
    padding-left: 30px;
}

.title {
    text-align: left;
}

.title h2 {
    text-transform: uppercase;
}

.top-bar {
    background: #f1f2f6;
    line-height: 1;
    padding: 20px 0;
}

.top-bar a {
    color: #9199ae;
    font-size: 20px;
    vertical-align: middle;
}

.top-bar a:hover {
    color: #f47a20;
}

.top-bar p {
    margin: 12px 0;
}

.top-bar .social-media {
    text-align: center;
}

.top-bar .data-info {
    text-align: center;
}

.upcoming {
    background: #fff;
}

.scrollup i {
    display: none;
}

.video {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

.video_fullscreen {
    display: none;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.main-icon {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 60px;
}

.main-icon :hover {
    color: #272727;

}

/**************************************************************/
.panel {
    font-size: 21px;
}

.panel :hover {
    color: #f47a20;
    font-size: 21px;
}

.popup {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
}

.popup:hover::after {
    content: attr(data-popup); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 95%;
    top: -15%; /* Положение подсказки */
    z-index: 1;
    background: rgba(255, 255, 230, 0); /* Полупрозрачный цвет фона */
    font-size: 14px; /* Размер текста подсказки */
    padding: 5px 20px; /* Поля */
    white-space: nowrap;
    /*    border: 1px solid #fff; *//* Параметры рамки */
}

.poster {
    position: relative;
    margin: 100px auto;
    /*    background:#ff6600; */
    height: 128px;
    /*   width:150px; */
}

.descr {
    display: none;
    margin-left: -150px;
    padding: 10px;
    margin-top: 17px;
    background: #fff;
    /*    height:200px; */
    width: 190%;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: left;
}

.descr2 {
    display: none;
    margin-left: -170px;
    padding: 10px;
    margin-top: 17px;
    background: #fff;
    /*    height:200px; */
    width: 218%;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: left;
}

.descr3 {
    display: none;
    margin-left: -228px;
    padding: 10px;
    margin-top: 17px;
    background: #fff;
    /*    height:200px; */
    width: 165%;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: left;
}

.descr4 {
    display: none;
    margin-left: -150px;
    padding: 10px;
    margin-top: 17px;
    background: #fff;
    /*    height:200px; */
    width: 165%;
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    color: #333;
    text-align: left;
}

.poster:hover .descr {
    display: inline-block;
    position: absolute;
    top: 120px;
    z-index: 9999;
    color: #333;
}

.poster:hover .descr2 {
    display: inline-block;
    position: absolute;
    top: 120px;
    z-index: 9999;
    color: #333;
}

.poster:hover .descr3 {
    display: inline-block;
    position: absolute;
    top: 120px;
    z-index: 9999;
    color: #333;
}

.poster:hover .descr4 {
    display: inline-block;
    position: absolute;
    top: 120px;
    z-index: 9999;
    color: #333;
}

.icon1, .icon2, .icon3, .icon4 {
    height: 32px;
}

.icon1 {
    background: url('../img/loss-chart_32.png') no-repeat;
}

.icon2 {
    background: url('../img/wallet_32.png') no-repeat;
}

.icon3 {
    background: url('../img/book_32.png') no-repeat;
}

.icon4 {
    background: url('../img/tick-inside-circle_32.png') no-repeat;
}

.icon5 {
    background: url('../img/005-add-button-inside-black-circle.png') no-repeat;
}

/***** Divider *****/

.divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
}

.one-phone {
    margin: 22px 0;
    color: #ff8800;
    font-size: 24px;
    font-family: 'Etelka-Medium';
}

.product-section {
    padding-top: 30px;
}

.product-section .product-description {
    margin-bottom: 20px;
}

.product-section h1 {
    text-transform: uppercase;
    color: #000;
    font-size: 40px;
    font-family: 'Etelka-Text';
    letter-spacing: -0.5px;
    margin: -6px 0 20px;
    line-height: normal;
}

.text-section ul {
    padding-left: 20px;
    list-style-type: none;
}

.text-section li {
    position: relative;
}

.steps {
    list-style-type: none;
    padding: 0;
    display: table;
    width: 100%;
    margin: 0 0 10px;
}

.steps li {
    display: table-cell;
    padding: 0;
    border: 2px solid white;
    color: white;
    border-radius: 4px;
    width: 20%;
    position: relative;
    text-align: center;
    box-sizing: content-box;
}

.steps li:first-child {
    z-index: 10;
}

.steps li:nth-child(2) {
    z-index: 9;
}

.steps li:nth-child(3) {
    z-index: 8;
}

.steps li:nth-child(4) {
    z-index: 7;
}

.steps li:nth-child(5) {
    z-index: 6;
}

.steps li:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 22px solid #BFBFBF;
    top: 1px;
    right: -19px;
    border-top: 20px solid transparent;
    border-bottom: 19px solid transparent;
    z-index: 1;
}

.steps li:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 27px solid white;
    top: -3px;
    right: -23px;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
}

.steps li:last-child::before, .steps li:last-child::after {
    display: none;
}

.steps li.active:before, .steps li.active:hover:before {
    border-left-color: #ff8200;
}

.steps a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 2;
    display: block;
    padding: 10px 0 8px 15px;
    height: 40px;
    background: #BFBFBF;
    border-radius: 6px;
}

.steps li:last-child a {
    /*padding-left: 10px;*/
}

.steps li:first-child a {
    padding-left: 0;
}

.steps li.active a, .steps li.active:hover a {
    background: #ff8200;
}

.steps li:hover:before {
    border-left-color: #c9751a;
}

.steps li:hover a {
    background: #c9751a;
}

.steps-pannel {
    list-style-type: none;
    display: block;
}

.step__item {
    display: block;
    float: left;
    font-size: 14px;
    color: #000;
    margin: 10px 0 20px;
}

.step__num {
    font-weight: bold;
    width: 50px;
}

.step__desc {
    width: calc(100% - 50px);
}

.steps-pannel li.active .step__item {
    color: #ff8800;
}

.product-section .btn-default {
    width: 100%;
    font-family: 'Etelka-Medium';
    font-size: 16px;
    font-weight: normal;
    padding: 5px 80px;
    margin-top: 3px;
    color: #ffffff;
    background-color: #ff8800;
    border-color: #ff8800;
}

.product-section .btn-default:hover {
    color: #ffffff;
    background-color: #cc6d00;
    border-color: #c26700;
}

.product-section .btn:hover, .btn:focus, .btn.focus {
    color: #ffffff;
    text-decoration: none;
}

.order-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #EFEFEF;
    position: relative;

}

.order-section:before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -35px;
    background: white;
    transform: rotate(45deg);
    left: 50%;
    margin-left: -35px;
}

.no-arrow-section:before {
    display: none;
}

.order-section h3 {
    text-align: center;
    margin-bottom: 40px;
}

.order-section h4 {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
}

.order-col button, .order-col .btn {
    width: 100%;
    margin-top: 30px;
}

.order-col.bottom-margin {
    margin-bottom: 30px;
}

.iconned-col {
    margin-top: 20px;
    padding-left: 60px;
    position: relative;
}